@import url('../../index.css');

.destination_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.destination_cover_image {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}