@import url('../../index.css');

.home_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_cover_image {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.home_container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.home_content_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
  height: 75vh;
  margin: 0 4rem 3rem 4rem;
}

.home_content_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25%;
  margin-left: 2rem;
}

.home_content_left h1 {
  font-size: 150px;
  margin: 0%;
  font-family: 'Bellefair', serif;
}

.home_content_left h5 {
  font-size: 28px;
  margin: 0%;
  color: var(--primary-color);
  font-family: 'Barlow Condensed', sans-serif;
}

.home_content_left p {
  font-size: 18px;
  color: var(--primary-color);
  font-family: 'Barlow', sans-serif;
}

.home_explore {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  background-color: #FFFFFF;
  color: #0B0D17;
  border-radius: 50%;
  font-family: 'Bellefair', serif;
}